@mixin flexBox($dir, $main, $cross) {
    display: flex;
    flex-direction: $dir;
    justify-content: $main;
    align-items: $cross;
}

@mixin shadow($xWidth, $yWidth, $blurRad, $clr) {
    box-shadow: $xWidth $yWidth $blurRad $clr;
}

@mixin heading2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0;
}

@mixin heading3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 0;
    color: grey;

    @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
    }
}

@mixin hrStyle {
    color: grey;
    margin: 20px 0;
}

@mixin pStyle {
    font-size: 1rem;
    line-height: 28px;
}

@mixin circular-progress($per, $skill, $color, $bgcolor) {
    $progress: prog($per);
    transform: rotate($progress);
    background: linear-gradient(0deg, $color 100%, rgba($color, 0.4) 50%);
    &:before,
    &:after {
        color: $color;
        transform: scale(1.1) rotate(-#{$progress});
    }
    &:before {
        content: "#{$skill}";
    }
    &:after {
        content: "#{$per}%";
        background: linear-gradient(transparent 50%, $bgcolor 100%);
    }
}

@mixin buttonStyle {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: map-get($colors, main);
    border-radius: 20px;
    border: none;
}

@mixin aStyle {
    color: black;
    text-decoration: none;
    font-weight: 500;
}