@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$full-width: 100%;
$mainfont: 'Quicksand';

$colors: (
    main: #c0e3e7,
    support: #317343,
    hr: #e1e1e1,
);
