@import "reset";
@import "variables";
@import "mixins";

:root {
    font-size: 100%;
}

body {
    width: $full-width;
    font-family: $mainfont;
    background-image: url("./img/light-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    @include hrStyle;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
}

.main__container {
    width: $full-width;
    height: auto;
    @include flexBox(row, space-between, flex-start);
    padding: 0 100px;

    @media screen and (max-width: 1024px) {
        padding: 0;
    }
}

aside {
    position: sticky;
    top: 0;
    width: 20%;
    height: auto;
    background-color: map-get($colors, main);
    @include flexBox(column, center, center);
    margin: 20px 10px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    @include shadow(2px, 2px, 10px, grey);

    h2 {
        @include heading2;
    }

    .aside__title {
        margin-bottom: 20px;

        @media screen and (max-width: 1400px) and (min-width: 1023px) {
            text-align: center;
        }
    }

    .aside__links {
        @media screen and (max-width: 1400px) and (min-width: 1023px) {
            @include flexBox(row, space-around, center);
            flex-wrap: wrap;
        }
    }

    .aside__links span {
        margin: 0 7px;

        @media screen and (max-width: 1400px) and (min-width: 1023px) {
            margin: 10px;
        }
    }

    .aside__links span svg {
        color: map-get($colors, support);

        &:hover {
            color: #2f593b;
        }
    }

    img {
        width: 200px;
        object-fit: cover;
        border-radius: 50%;

        @media screen and (max-width: 1400px) and (min-width: 1023px) {
            width: 150px;
        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

main {
    width: 78%;
    background-color: #fff;
    margin: 20px 0 20px 10px;
    padding: 40px;
    border: 1px solid map-get($colors, hr);
    border-radius: 5px;

    .aside__alternate {
        display: none;

        @media screen and (max-width: 1024px) {
            display: block;
            
            @include flexBox(column, center, center);
            margin: 20px;
            padding: 20px;

            h2 {
                @include heading2;
            }
        
            .aside__title {
                margin-bottom: 20px;
            }
        
            .aside__links span {
                margin: 0 7px;
            }
        
            .aside__links span svg {
                color: map-get($colors, support);
        
                &:hover {
                    color: #2f593b;
                }
            }
        
            img {
                width: 200px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .sharethis-inline-share-buttons {
        margin: 40px 0;
    }

    h1 {
        margin: 20px 0;
    }

    h3 {
        @include heading3;
    }

    p {
        @include pStyle;
    }

    .info {
        @include flexBox(row, space-between, flex-start);

        .info__left {
            width: calc(50% - 50px);
            margin-right: 50px;
            @include flexBox(column, flex-start, flex-start);

            .info__left-inner {
                @include flexBox(row, flex-start, flex-start);

                > div:nth-child(1) p {
                    font-weight: 900;
                    margin-right: 50px;

                    @media screen and (max-width: 768px) {
                        margin-right: 15px;
                    }

                    @media screen and (max-width: 1024px) and (min-width: 767px) {
                        margin-right: 100px;
                    }
                }
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }

        .info__right {
            width: 50%;
            @include flexBox(column, flex-start, flex-start);

            .progress {
                width: 175%;
                height: 20px;
                border-radius: 20px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                @media screen and (max-width: 1024px) and (min-width: 767px) {
                    width: 200%;
                }

                @keyframes progress {
                    from {
                        width: 0;
                    }
                }
            }

            .progress-bar {
                text-align: left;
                border-radius: 20px;
                background-color: map-get($colors, main);
                animation: progress 2s linear;
                transition: width 3s;
            }

            span {
                display: block;
                position: relative;
                @include pStyle;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 28px;
                margin: 7px 0;
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    .skills {
        @include flexBox(row, space-between, flex-start);

        .skills__left {
            width: 50%;

            .progress {
                width: 175%;
                height: 20px;
                border-radius: 20px;
                animation: progress 2s linear;
                transition: width 3s;

                @media screen and (max-width:768px) {
                    width: 100%;
                }

                @media screen and (max-width: 1024px) and (min-width: 767px) {
                    width: 200%;
                }
            }

            span {
                display: block;
                position: relative;
                @include pStyle;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 28px;
                margin: 7px 0;
            }

            .progress-bar {
                text-align: left;
                border-radius: 20px;
                transition-duration: 3s;
                background-color: map-get($colors, support);
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }

        .skills__right {
            width: 50%;

            .circles {
                @include flexBox(row, space-evenly, center);
                flex-wrap: wrap;

                .circular-progress {
                    margin: 0 10px 10px 0;
                    transition: all 1s ease-in-out;
                    &,
                    &:before,
                    &:after {
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%;
                    }

                    position: relative;
                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                    }
                    &:before {
                        background: #fff content-box;
                        padding: 0.5em;
                        font-size: 0.85rem;
                        line-height: 5rem;
                        box-sizing: border-box;
                        color: white;
                    }
                    &:after {
                        line-height: 10rem;
                    }
                }

                @function prog($per) {
                    $deg: $per * 1.8;
                    @return #{$deg}deg;
                }

                .teamwork {
                    @include circular-progress(90, Teamwork, maroon, white);
                }

                .creativity {
                    @include circular-progress(95, Creativity, blue, white);
                }

                .flexibility {
                    @include circular-progress(99, Flexibility, #fcb031, white);
                }

                .communication {
                    @include circular-progress(90, Communication, dodgerblue, white);
                }

                .problem {
                    @include circular-progress(99, Problem Solving, seagreen, white);
                }

                .intercultural {
                    @include circular-progress(99, Intercultural, dimgray, white);
                }

                .leadership {
                    @include circular-progress(95, Leadership, violet, white);
                }

                .time {
                    @include circular-progress(99, Punctuality, tomato, white);
                }
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    .portfolio {
        width: $full-width;

        .portfolio__inner {
            width: 100%;
            @include flexBox(row, space-between, center);

            @media screen and (max-width: 1024px) {
                flex-wrap: wrap;
            }

            @media screen and (max-width: 1440px) and (min-width: 1023px) {
                flex-wrap: wrap;
            }
        }

        .card {
            width: 25%;
            height: 525px;
            margin: 20px 20px 20px 0;
            @include flexBox(column, space-evenly, center);

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 575px;
            }

            @media screen and (max-width: 1024px) and (min-width: 767px) {
                width: calc(50% - 20px);
                height: 575px;
            }

            @media screen and (max-width: 1440px) and (min-width: 1023px) {
                width: calc(50% - 20px);
                height: auto;
            }

            img {
                @media screen and (max-width: 768px) {
                    width: 300px;
                }

                @media screen and (max-width: 1024px) and (min-width: 767px) {
                    width: 325px;
                }
            }

            &:hover {
                @include shadow(2px, 2px, 5px, map-get($colors, support));
                cursor: pointer;
            }

            h5 {
                text-align: center;
            }

            .btn-success {
                font-weight: 500;
                background-color: map-get($colors, support);
            }
        }

        .github {
            @include flexBox(row, space-between, flex-start);

            @media screen and (max-width: 1024px) {
                flex-wrap: wrap;
            }

            @media screen and (max-width: 1440px) and (min-width: 1023px) {
                flex-wrap: wrap;
            }

            .gitproject {
                width: 25%;
                height: 200px;
                border: 1px solid map-get($colors, hr);
                border-radius: 5px;
                margin-right: 20px;
                padding: 20px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin: 10px 0;
                }

                @media screen and (max-width: 1024px) and (min-width: 767px) {
                    width: calc(50% - 20px);
                    margin: 10px 20px 10px 0;
                }

                @media screen and (max-width: 1650px) and (min-width: 1023px) {
                    width: calc(50% - 20px);
                    height: auto;
                    margin: 10px;
                }

                &:hover {
                    @include shadow(2px, 2px, 5px, map-get($colors, support));
                    cursor: pointer;
                }

                h4 {
                    font-size: 1.3rem;

                    .fas {
                        margin-right: 5px;
                    }
                }

                p {
                    @include pStyle;
                }

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .timeline {
        width: 100%;
        margin: 20px auto;
        position: relative;

        img {
            width: 60px;
            float: right;
            margin: 15px;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(100%);
            width: 1px;
            height: 100%;
            background: map-get($colors, support);
            @include shadow(2px, 2px, 5px, map-get($colors, support));

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        article {
            width: 100%;
            margin: 0 0 20px 0;
            position: relative;
        }

        article:after {
            content: "";
            display: block;
            clear: both;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        article .timeline__inner {
            width: 40%;
            float: left;
            margin: 5px;
            border-radius: 6px;
            border: 1px solid map-get($colors, hr);
            @include shadow(2px, 2px, 5px, map-get($colors, hr));

            @media screen and (max-width: 768px) {
                width: 100%;
                margin: 10px 0;
            }

            p {
                padding: 5px 10px !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                line-height: 20px;
            }

            h2 {
                word-spacing: 0.3rem;
                font-size: 4rem;
            }
        }

        article div.timeline__inner span.date {
            display: block;
            width: 70px;
            height: 70px;
            padding: 5px 0;
            position: absolute;
            top: 0;
            left: 50%;
            margin: 0 0 0 -32px;
            border-radius: 100%;
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            background: map-get($colors, main);
            color: black;
            border: 2px solid map-get($colors, support);
            box-shadow: 3px 3px 15px map-get($colors, main);

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        article div.timeline__inner span.date span {
            display: block;
            text-align: center;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        article div.timeline__inner span.date span.day {
            font-size: 10px;
        }

        article div.timeline__inner span.date span.month {
            font-size: 18px;
        }

        article div.inner span.date span.year {
            font-size: 10px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        article div.timeline__inner h2 {
            padding: 15px;
            margin: 0;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: -1px;
            border-radius: 6px 6px 0 0;
            position: relative;
        }

        article div.timeline__inner h2:after {
            content: "";
            position: absolute;
            top: 20px;
            right: -5px;
            width: 10px;
            height: 10px;
            transform: rotate(-45deg);
        }

        article div.timeline__inner p {
            padding: 15px;
            margin: 0;
            font-size: 14px;
            background: #fff;
            color: #656565;
            border-radius: 0 0 6px 6px;
        }

        article:nth-child(even) div.timeline__inner {
            float: right;
        }

        article:nth-child(odd) div.timeline__inner h2:after {
            left: -5px;
        }

        article:nth-child(odd) div.timeline__inner h2 {
            background: map-get($colors, support);
        }

        article:nth-child(even) div.timeline__inner h2 {
            background: map-get($colors, main);
            color: black;
        }
    }

    .references {
        h2 {
            margin-bottom: 40px;
        }

        .references__inner {
            width: 80%;
            margin: 0 auto;

            .refer {
                margin: 10px 0;

                span {
                    font-style: italic;
                    color: grey;
                }

                p {
                    margin-top: 10px;
                }

                img {
                    width: 60px;
                    border-radius: 50%;
                    float: left;
                    margin-right: 10px;
                }
            }
        }
    }

    .interests {
        width: $full-width;

        .interests__inner {
            width: 80%;
            margin: 0 auto;
            @include flexBox(row, space-between, center);
            flex-wrap: wrap;

            @media screen and (max-width: 768px) {
                padding: 0;
            }

            @media screen and (max-width: 1024px) and (min-width: 767px) {
                width: 100%;
                padding: 0 30px;
            }

            .hobby {
                width: 33%;
                margin: 10px 0;

                @media screen and (max-width: 768px) {
                    width: 50%;
                }

                @media screen and (max-width: 1024px) and (min-width: 767px) {
                    width: 30%;
                }

                span {
                    font-size: 1.5rem;

                    @media screen and (max-width: 768px) {
                        font-size: .8rem;
                    }

                    @media screen and (max-width: 1024px) and (min-width: 767px) {
                        font-size: 1.3rem;
                    }

                    .fas {
                        margin-right: 10px;
                        color: map-get($colors, support);

                        @media screen and (max-width: 768px) {
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }

    .blog {
        width: $full-width;

        p {
            text-align: center;
        }

        button {
            @include buttonStyle;

            a {
                @include aStyle;
            }
        }
    }

    .contact {
        width: $full-width;

        .contact__inner {
            width: 50%;
            margin: 0 auto;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            form {
                @include flexBox(column, center, center);

                legend {
                    text-align: center;
                }

                label {
                    margin: 10px 0;
                }

                input,
                textarea {
                    width: 100%;
                    background-color: #eeeeee;
                    border: 1px solid map-get($colors, hr);
                    padding: 5px 10px;

                    &:focus {
                        outline: 0;
                        border: 2px solid map-get($colors, main);
                        @include shadow(2px, 2px, 10px, map-get($colors, main));
                    }
                }

                button {
                    @include buttonStyle;
                    margin: 20px 0;

                    a {
                        @include aStyle;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        width: 98%;
        padding: 10px 20px;
    }
}

nav {
    width: 2%;
    margin: 20px 10px 0 10px;
    position: sticky;
    top: 0;

    ul {
        padding: 0;
        margin: 0;

        img {
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        .fas,
        .far {
            font-size: 2rem;
            margin: 10px 0 10px 8px;
            color: map-get($colors, support);

            &:hover {
                color: #2f593b;
            }
        }
    }
}

footer {
    height: 50px;
    line-height: 30px;
    font-style: italic;
    text-align: right;
    margin-right: 30px;
}
